{% for author in content %}
  <tr>
    <td><a href="/authors/{{ author.id }}">{{ author.name }}</a></td>
    <td>{{ author.papers|length }}</td>
  </tr>
{% else %}
  <tr class="empty">
    <td colspan="2">Nothing found!</td>
  </tr>
{% endfor %}