{% extends "modals/modal.html.twig" %}

{% block modal_content %}

<form action="{{ app.request.requesturi }}" method="post">
  <table class="table">
    <tbody>
    {% for name, field in fields %}
      {% set form = render_form(entity, name, field) %}
      {% if form is not empty %}
        <tr>
          <td><label for="{{ name }}">{{ field.caption }}:</label></td>
          <td>{{ form | raw }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <button type="submit">Submit</button>
  <button type="button" _="on click trigger closeModal">Cancel</button>
</form>

{% endblock %}
