:root {
    --color-main: #442d2d;
    --color-secondary: #7c7373;
    --color-bg: #f3edd7;
    --color-hover: rgba(0, 0, 0, 0.1);
    --table-border: #a9a9a9;
    --table-header: #c7c2af;

    --sidebar-width: 300px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-main);
    background-color: var(--color-bg);
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: var(--sidebar-width);
    padding: 1rem 3rem;
}
