:root {
    --color-withdrawal: #f2acb6;
    --color-deposit: #86d886;
    --color-border: #a9a9a9;
}

.bookfund-container {
    width: 60%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 10%;
}

.fancy-link {
    padding: 0.6em 1.2em;
    margin-left: 0.2em;
    transition: all 0.3s ease-in;
    color: var(--color-main);
    text-decoration: none;
}

.fancy-link::after {
    content: '\00BB';
    vertical-align: 0.08em;
    display: inline-block;
    transition: all 0.3s ease;
    padding-left: 0.2em;
}

.fancy-link:hover::after {
    transform: translateX(0.2em);
}

.balance-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: thin solid var(--color-border);
    border-radius: 4px;
    padding: 1.2rem 1.4rem;
    margin-bottom: 2rem;
    width: fit-content;
}

.balance-card > h1 {
    margin: 0;
    font-weight: normal;
}

.balance-card .button {
    margin: 0 0.2rem;
    padding: 0.3rem 1.4rem;
}

.balance-card .balance {
    padding: 0.8rem 0;
    font-size: 2rem;
}

/* --------------------------| entries |--------------------------- */
.transactions {
    list-style: none;
    display: grid;
    row-gap: 0.6rem;
    padding: 0.8rem 2rem;
}

.transactions li {
    display: grid;
    grid-template-columns: 2.8rem 1fr 3fr 1fr;
    column-gap: 0.8rem;
    border-radius: 4px;
    padding-left: 0.4rem;
    padding-right: 0.8rem;
}

.transactions li>* {
    align-self: center;
}

.transactions li::before {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bolder;
    width: 2.8rem;
}

.transactions li.deposit {
    background-color: var(--color-deposit);
}

.transactions li.deposit::before {
    content: "+";
}

.transactions li.withdrawal {
    background-color: var(--color-withdrawal);
}

.transactions li.withdrawal::before {
    content: "-";
}

.transactions li .amount {
    font-weight: bold;
    padding-right: 1rem;
    justify-self: end;
}

.transactions li .timestamp {
    justify-self: end;
}

/* --------------------------| dialog |---------------------------- */
dialog {
    margin-top: 10vh;
    border: solid 1px #999;
    border-radius: 4px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
    background-color: white;
    padding: 20px;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.5);
}

.dialog-transaction .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-transaction .button-close {
    background: none;
    border: none;
}

.dialog-transaction .button-close:hover {
    background: none;
    text-decoration: underline;
}

.form-transaction button[type=submit] {
    align-self: center;
    margin-top: 0.6em;
}


.currency-input {
    display: inline-flex;
    align-items: center;
    border: thin solid var(--color-border);
    border-radius: 4px;
    padding: 0.4em 0.2em;
    font-size: 1.8em;
    width: 240px;
}

.currency-symbol {
    margin-right: 0.1em;
    margin-left: 0.2em;
}

.currency-input input {
    direction: rtl;
    border: none;
    outline: none;
    font-size: inherit;
    width: 100%;
}