:root {
    --color-withdrawal: #f2acb6;
    --color-deposit: #86d886;
    --color-border: #a9a9a9;
}

.bookfund-container {
    width: 60%;
    max-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 10%;
}

.fancy-link {
    padding: 0.6em 1.2em;
    margin-left: 0.2em;
    transition: all 0.3s ease-in;
}

.fancy-link::after {
    content: '\00BB';
    display: inline-block;
    transition: all 0.3s ease;
    padding-left: 0.2em;
}

.fancy-link:hover::after {
    transform: translateX(0.2em);
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 1.2rem 1.4rem;
    margin-bottom: 2rem;
}

.control>h1 {
    margin: 0;
    font-weight: normal;
}

.control .button {
    margin: 0 0.2rem;
}

.balance {
    padding: 0.8rem 0;
    font-size: 2rem;
}

/* --------------------------| entries |--------------------------- */
.transactions {
    list-style: none;
    display: grid;
    row-gap: 0.6rem;
    padding: 0.8rem 2rem;
}

.transactions li {
    display: grid;
    grid-template-columns: 2.8rem 1fr 3fr 1fr;
    column-gap: 0.8rem;
    border-radius: 4px;
    padding-left: 0.4rem;
    padding-right: 0.8rem;
}

.transactions li>* {
    align-self: center;
}

.transactions li::before {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bolder;
    width: 2.8rem;
}

.transactions li.deposit {
    background-color: var(--color-deposit);
}

.transactions li.deposit::before {
    content: "+";
}

.transactions li.withdrawal {
    background-color: var(--color-withdrawal);
}

.transactions li.withdrawal::before {
    content: "-";
}

.transactions li .amount {
    font-weight: bold;
    padding-right: 1rem;
    justify-self: end;
}

.transactions li .timestamp {
    justify-self: end;
}

/* --------------------------| form |------------------------------ */
.transaction-form {
    display: flex;
    flex-direction: column;
}




/* --------------------------| modal |----------------------------- */
#modal {
/* Underlay covers entire screen. */
position: fixed;
top:0px;
bottom: 0px;
left:0px;
right:0px;
background-color:rgba(0,0,0,0.5);
z-index:1000;

/* Flexbox centers the .modal-content vertically and horizontally */
display:flex;
flex-direction:column;
align-items:center;

/* Animate when opening */
animation-name: fadeIn;
animation-duration:150ms;
animation-timing-function: ease;
}

#modal > .modal-underlay {
/* underlay takes up the entire viewport. This is only
 *required if you want to click to dismiss the popup */
position: absolute;
z-index: -1;
top:0px;
bottom:0px;
left: 0px;
right: 0px;
}

#modal > .modal-content {
/* Position visible dialog near the top of the window */
margin-top:10vh;

/* Sizing for visible dialog */
width:80%;
max-width:600px;

/* Display properties for visible dialog*/
border:solid 1px #999;
border-radius:8px;
box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
background-color:white;
padding:20px;

/* Animate when opening */
animation-name:zoomIn;
animation-duration:150ms;
animation-timing-function: ease;
}

#modal.closing {
/* Animate when closing */
animation-name: fadeOut;
animation-duration:150ms;
animation-timing-function: ease;
}

#modal.closing > .modal-content {
/* Animate when closing */
animation-name: zoomOut;
animation-duration:150ms;
animation-timing-function: ease;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes zoomIn {
    0% {transform: scale(0.9);}
    100% {transform: scale(1);}
}

@keyframes zoomOut {
    0% {transform: scale(1);}
    100% {transform: scale(0.9);}
}
