:root {
  --color-main: #442d2d;
  --color-secondary: #7c7373;
  --color-bg: #f3edd7;
  --color-hover: rgba(0, 0, 0, 0.1);
  --table-border: #a9a9a9;
  --table-header: #c7c2af;

  --sidebar-width: 300px;
}

body {
  font-family:  sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-main);
  background-color: var(--color-bg);
  min-height: 100vh;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  padding: 1rem 3rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100%;
  background-color: var(--table-header);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.2em;
}

.sidebar header {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 0.6rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid var(--color-main);
}

a.logo {
  text-decoration: none;
  color: var(--color-main);
}

a.logo::before, a.logo::after {
  display: inline-block;
  transition: transform .5s ease;
  content: '~';
}

a.logo:hover {
  transition: transform .5s ease;
}

a.logo:hover::before {
  transform: translateX(-.2em);
}

a.logo:hover::after {
  transform: translateX(.2em);
}

.sidebar nav {
  margin: 1rem 0;
  flex: 1;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  display: inline-block;
  width: 100%;
  position: relative;
}

.sidebar a:not(.logo), .sidebar label {
  padding: .6em 1em .6rem 1.6rem;
  text-decoration: none;
  color: var(--color-main);
  display: flex;
  align-items: center;
  gap: 0.4em;
  line-height: 1em;
}

.sidebar a:not(.logo):hover, .sidebar a.active, .sidebar input[type=checkbox]:hover ~ label {
  background-color: var(--color-hover);
}

.sidebar nav input[type=checkbox]{
  position: absolute;
  cursor: pointer;
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

.sidebar nav input[type=checkbox]:not(:checked) ~ ul {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translateX(-50%);
}

.sidebar ul.subnav a {
  padding-left: 2.6em;
  z-index: 2;
  position: relative;
}

.sidebar footer {
  margin: 2rem 0;
}

.bi {
  width: 1em;
  height: 1em;
}

button, .button {
  padding: 0.3rem 1.4rem;
  text-decoration: none;
  color: var(--color-main);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  border: thin solid var(--color-secondary);
  background-color: var(--color-bg);
  cursor: pointer;
  transition: all .6s ease;
}

button:hover, .button:hover {
  background-color: var(--color-hover);
}

.colored {
  background-color: attr(data-color type(<color>));
}

.collection {
  margin: 0;
  padding-left: 1em;
}

ul.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0px;
  gap: .4em;
}

.tag {
  text-decoration: none;
  padding: .04em .4em;
  border-radius: 2px;
  width: fit-content;
}

/* --------------------------| overview |--------------------------- */
.card-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6em;
}

.card {
  width: 240px;
  height: 120px;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-out;
  text-decoration: none;
  color: var(--color-main);
  border: 1px solid var(--color-main);
}

.card:hover {
  border-color: var(--color-secondary);
}

.card .icon svg {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;
  height: 5rem;
  width: 5rem;
}

.card:hover .icon svg {
  fill: var(--color-secondary);
}

.card .title {
  font-size: 1.4rem;
  margin: 0px;
}

/* --------------------------| table |------------------------------ */
.table-control {
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem;
}

.table-control > :last-child:not(:only-child) {
  margin-left: auto;
}

.table-control .search {
  padding: 0.4em 0.8em 0.4em 2em;
  width: 20%;
  background-image: url('../icons/bootstrap/search.svg');
  background-position: 0.42em;
  background-repeat: no-repeat;
  border: thin solid var(--table-border);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.table :is(th, td) {
  padding: 0.5rem 0.5rem;
  border: thin solid var(--table-border);
}

.table th {
  text-align: left;
  background-color: var(--table-header);
}

.table th .caption {
  margin-right: 1.2em;
}

.table th .caption::after {
  padding-left: 0.2em;
  font-size: 1.6em;
  line-height: 1em;
  position: absolute;
}

.table th .caption.asc::after {
  content: '\1F839';
}

.table th .caption.desc::after {
  content: '\1F83B';
}

.table tbody tr:not(.empty):hover {
  background-color: var(--color-hover);
}

.table tr.empty {
  text-align: center;
}

.tiled {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.6em;
  margin-bottom: 1rem;
}

.table-footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.table-pagination {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-grow: 2;
  padding: 0;
  margin: 0;
  list-style: none;
}

.table-pagination li {
  margin: 0 0.1em;
}

.table-pagination li a {
  text-decoration: none;
  color: var(--color-main);
  padding: 0.1em 0.2em;
  width: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.table-pagination li a.prev-next {
  padding: 0.1em 0.4em;
  width: 1.4em;
}

.table-pagination li a.active {
  color: var(--color-bg);
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
}

.table-pagination li a:not(.active):hover {
  border: 1px solid var(--color-secondary);
  background-color: var(--color-hover);
}

.table td.align-right {
  text-align: right;
}

.table td.fit-content {
  width: 0;
  min-width: fit-content;
}


/* --------------------------| show |----------------------------- */
.show {
  width: 40%;
  display: block;
}

.show-main {
  margin-bottom: 2em;
}

.show-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid var(--color-main);
  border-left: 1px solid var(--color-main);
  margin-bottom: 1rem;
}

.show-table > div {
  border-bottom: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
  padding: 0.2em 1em;
  display: flex;
  flex-direction: column;
}

.show-table input {
  width: 100%;
}

/* --------------------------| autocomplete |--------------------- */
.autocomplete > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete > ul > li {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2em;
}

.autocomplete .add {
  cursor: pointer;
  color: blue;
  text-decoration:underline;
  font-size: 0.8em;
}

.autocomplete .delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
  padding-left: 0.4em;
}
