@import './base.css';
@import './sidebar.css';
@import './table.css';


.bi {
  width: 1em;
  height: 1em;
}

a.link-extern::after {
  content: '\2BA9';
}

button, .button {
  padding: 0.3rem 1.4rem;
  text-decoration: none;
  color: var(--color-main);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  border: thin solid var(--color-secondary);
  background-color: var(--color-bg);
  cursor: pointer;
  transition: all .6s ease;
}

button:hover, .button:hover {
  background-color: var(--color-hover);
}

.collection {
  margin: 0;
  padding-left: 1em;
}

.tag {
  text-decoration: none;
  padding: .04em .4em;
  border-radius: 2px;
  width: fit-content;
  white-space: nowrap;
}

.monospace {
  font-family: "Lucida Console", monospace;
}


/* --------------------------| show |----------------------------- */
.show {
  width: 40%;
  display: block;
}

.show-main {
  margin-bottom: 2em;
}

.show-table {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-top: 1px solid var(--color-main);
  border-left: 1px solid var(--color-main);
  margin-bottom: 1rem;
}

.show-table > div {
  border-bottom: 1px solid var(--color-main);
  border-right: 1px solid var(--color-main);
  padding: 0.2em 1em;
  display: flex;
  flex-direction: column;
}

.show-table input {
  width: 100%;
}

/* --------------------------| autocomplete |--------------------- */
.autocomplete > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete > ul > li {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2em;
}

.autocomplete .add {
  cursor: pointer;
  color: blue;
  text-decoration:underline;
  font-size: 0.8em;
}

.autocomplete .delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
  padding-left: 0.4em;
}
