:root {
  --main-color: #212529;
  --main-bg-color: #ffffff;
  --border-color: #b6b6b6;
  --border-hover: #6b6b6b;
  --table-border: #e0e0e0;
  --hover-color: rgba(0, 0, 0, 0.05);
}

body {
  font-family:  sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--main-color);
  background-color: var(--main-bg-color);
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}


header {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  padding: 0.6rem;
  border-bottom: 2px solid var(--border-color);
  margin-bottom: 3rem;
}

.content {
  flex: 1;
}

footer {
  text-align: center;
  padding: 1.2rem;
  border-top: 2px solid var(--border-color);
  margin-top: 3rem;
  margin-bottom: 1.8rem;
}

a.logo {
  text-decoration: none;
  color: var(--main-color);
}

a.link-extern::after {
  content: '\2BA9';
}

.logo::before, .logo::after {
  display: inline-block;
  transition: transform .5s ease;
  content: '~';
}

.logo:hover {
  transition: transform .5s ease;
}

.logo:hover::before {
  transform: translateX(-.2em);
}

.logo:hover::after {
  transform: translateX(.2em);
}

.copyright::before {
  font-family: Arial, sans-serif;
  margin-right: 0.2em;
  content: "\00a9";
}

.container {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button, a.button {
  padding: 0.3rem 1.4rem;
  font-size: 0.875rem;
  font-weight: 300;
  text-align: center;
  border-radius: 4px;
  border: thin solid var(--border-color);
  background-color: var(--main-bg-color);
  cursor: pointer;
  transition: all .6s ease;
}

button:hover, a.button:hover {
  border-color: var(--border-hover);
  background-color: var(--hover-color);
}

/* --------------------------| overview |--------------------------- */
.card-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 240px;
  height: 120px;
  border-radius: 8px;
  margin: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .6s ease;
  border: 1px solid var(--border-color);
}

.card:hover {
  transform: scale(1.04);
  border-color: var(--border-hover);
}

.card .icon {
  margin: 0px;
  font-size: 4rem;
}

.card .title {
  margin: 0px;
  font-size: 2rem;
}

/* --------------------------| table |------------------------------ */
.table-control {
  display: flex;
  width: 100%;
  margin-bottom: 0.8rem;
}

.table-control > :last-child:not(:only-child) {
  margin-left: auto;
}

.table-control .search {
  padding: 0.3rem 0;
  width: 20%;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.table :is(th, td) {
  padding: 0.5rem 0.5rem;
  border: thin solid var(--table-border);
}

.table th {
  text-align: left;
  border-color: var(--table-border);
  background-color: var(--table-border);
}

.table-field {
  margin-right: 1.2em;
}

.table-field::after {
  padding-left: 0.2em;
  font-size: 1.6em;
  line-height: 1em;
  position: absolute;
}

.table-field.asc::after {
  content: '\1F839';
}

.table-field.desc::after {
  content: '\1F83B';
}

.table tr:not(.empty):hover {
  background-color: var(--hover-color);
}

.table tr.empty {
  text-align: center;
}


.pagination {
  margin: 25px 0 15px 0;
}
.pagination,
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination li {
  background: #f23b26;
  list-style: none;
}
.pagination li a {
  text-decoration: none;
  color: #fdfdfd;
  height: 50px;
  width: 50px;
  font-size: 18px;
  padding-top: 1px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-right-width: 0px;
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}
.pagination li:last-child a {
  border-right-width: 1px;
}
.pagination li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-top-color: rgba(0, 0, 0, 0.35);
  border-bottom-color: rgba(0, 0, 0, 0.5);
}
.pagination li a:focus,
.pagination li a:active {
  padding-top: 4px;
  border-left-width: 1px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}
.pagination li.icon a {
  min-width: 120px;
}
.pagination li:first-child span {
  padding-right: 8px;
}
.pagination li:last-child span {
  padding-left: 8px;
}


/* --------------------------| detail |----------------------------- */
.detail {
  width: 40%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* --------------------------| form |------------------------------- */
.form-container {
  width: 100%;
  max-width: 530px;
  margin-right: auto;
  margin-left: auto;
}

.form-heading {
  font-weight: normal;
}

.form-row {
  display: flex;
}

.form-row > div {
  width: 100%;
  position: relative;
  padding: 0 8px;
}

form {
  display: block;
  margin-top: 35px;
}

label {
  line-height: 100%;
  margin-bottom: 5px;
  font-size: 14px;
}

form input, form textarea {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

form input:hover, form input:focus, form textarea:hover, form textarea:focus {
  border-color: var(--border-hover);
}

form textarea {
  height: 120px;
}