.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100%;
    background-color: var(--table-header);
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 1.2em;
}

.sidebar header {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 0.6rem;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid var(--color-main);
}

.sidebar a.logo {
    text-decoration: none;
    color: var(--color-main);
}

.sidebar a.logo::before, a.logo::after {
    display: inline-block;
    transition: transform .5s ease;
    content: '~';
}

.sidebar a.logo:hover {
    transition: transform .5s ease;
}

.sidebar a.logo:hover::before {
    transform: translateX(-.2em);
}

.sidebar a.logo:hover::after {
    transform: translateX(.2em);
}

.sidebar nav {
    margin: 1rem 0;
    flex: 1;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    display: inline-block;
    width: 100%;
    position: relative;
}

.sidebar a:not(.logo), .sidebar label {
    padding: .6em 1em .6rem 1.6rem;
    text-decoration: none;
    color: var(--color-main);
    display: flex;
    align-items: center;
    gap: 0.4em;
    line-height: 1em;
}

.sidebar a:not(.logo):hover, .sidebar a.active, .sidebar input[type=checkbox]:hover ~ label {
    background-color: var(--color-hover);
}

.sidebar nav input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    margin: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.sidebar nav input[type=checkbox] ~ label::after {
    text-align: right;
    flex: 1;
}

.sidebar nav input[type=checkbox]:not(:checked) ~ label::after {
    content: '\23F7';
}

.sidebar nav input[type=checkbox]:checked ~ label::after {
    content: '\23F6';
}

.sidebar nav input[type=checkbox]:not(:checked) ~ ul {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translateX(-50%);
}

.sidebar ul.subnav a {
    padding-left: 2.6em;
    z-index: 2;
    position: relative;
}

.sidebar footer {
    margin: 2rem 0;
}
