
{% set value = get_value(field, entity) %}
{% if value is iterable %}
    <ul>
        {% for v in value %}
            <li>{{ v|raw }}</li>
        {% endfor %}
    </ul>
{% else %}
    {{ value|raw }}
{% endif %}
