{% extends "base.html.twig" %}

{% block title %}
  Pinakes - Authors
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
    <button type="button">Sort By</button>
    <button type="button">Filter</button>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Papers</th>
      </tr>
    </thead>
    <tbody>
      {% for author in authors %}
        <tr>
          <td><a href="/authors/{{ author.id }}">{{ author.name }}</a></td>
          <td>{{ author.papers|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
