{% extends "base.html.twig" %}

{% block title %}
  Pinakes - {{ author.name }}}
{% endblock %}

{% block content %}
<div class="container">
  <h1>{{ author.name }}</h1>
  <p>Papers:
    <ul>
      {% for paper in author.papers %}
        <li><a href="/papers/{{ paper.id }}">{{ paper.title|e }}</a></li>
      {% endfor %}
    </ul>
  </p>
</div>
{% endblock %}
