{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ name|capitalize }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      hx-trigger="keyup changed delay:500ms, search"
      hx-get="/{{ name }}/search"
      hx-target="[hx-content-list]">

    {% if allow_add %}
      <a href="/{{ name }}/form" class="button">Add New</a>
    {% endif %}
  </div>
  <table class="table">
    <thead>
      <tr>
        {% for field in fields %}
          <th>{{ field }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody hx-content-list>
      {% include content_template %}
    </tbody>
  </table>
</div>
{% endblock %}
