{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="detail">
  <h1>{{ entity }}</h1>
  <form>

  {% for name, field in fields %}
    <div><label for="name">{{ field.caption }}:</label></div>
    <div>{{ get_form(name, field, entity)|raw }}</div>
  {% endfor %}
  </form>

</div>
{% endblock %}
