{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="detail">
  <form>
  <h1>{{ entity }}</h1>

  {% for name, field in fields %}
      <label for="name">{{ field.caption }}:</label>
      {{ get_form(name, field, entity)|raw }}
  {% endfor %}
  </form>

</div>
{% endblock %}
