{% set route = app.current_route %}
{% set params = app.current_route_parameters|merge(filter) %}

<div hx-table-content>
  <div class="tiled">
    {% set offset = (filter.page - 1) * filter.pp %}
    {% for icon in data|slice(offset, filter.pp) %}
      <div class="card">
        <div class="icon">{{ icon(icon)}}</div>
        <div class="title">{{ icon }}</div>
      </div>
    {% else %}
      <p>Nothing found!</p>
    {% endfor %}
  </div>

  {% include 'component/pagination.html.twig' with {
    'route': route,
    'params': params,
    'filter': filter,
    'max_count': data|length,
  } only %}

</div>

