{% extends "_base.html.twig" %}

{% block title %}
  Pinakes
{% endblock %}

{% block content %}
  <div class="card-container">
    <a class="card" href="/papers/">
      <div class="icon">&#128463;</div>
      <div class="title">Papers</div>
    </a>
    <a class="card" href="/books/">
      <div class="icon">&#128366;</div>
      <div class="title">Books</div>
    </a>
    <a class="card" href="/authors/">
      <div class="icon">&#9997;</div>
      <div class="title">Authors</div>
    </a>
  </div>
{% endblock %}