{% extends "_base.html.twig" %}

{% block title %}
  Pinakes
{% endblock %}

{% block content %}
  <div class="card-container">
  {% for name, card in cards %}
    <a class="card" href="/{{ name }}/">
      <div class="icon">{{ card.icon|raw }}</div>
      <div class="title">{{ card.title }}</div>
    </a>
  {% endfor %}
  </div>
{% endblock %}