{% extends "_base.html.twig" %}

{% block content %}

<div class="container">
<div class="card-container">
  {% for item in navigation %}
    <a class="card" href="{{ path(item.route) }}">
      <div class="icon">{{ icon(item.icon)}}</div>
      <div class="title">{{ item.caption }}</div>
    </a>
  {% endfor %}
</div>
</div>

{% endblock %}
