{% extends "_base.html.twig" %}

{% block content %}

<div class="container">

  <h1>Newest Books</h1>
  {% include 'component/table.html.twig' with {
    'allow_ordering': false,
    'allow_pagination': false,
    'data': newest,
    'fields': newest_fields
  } %}

</div>

{% endblock %}
