{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ title }}
{% endblock %}

{% block content %}

<div class="container">
  <h1>{{ title }}</h1>

  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ filter.search|default }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ filter_url(app.current_route, app.current_route_parameters, filter) }}"
      hx-target="[hx-table-content]">
  </div>
  <div></div>
  {% include component_path | default('components/table.html.twig') %}
</div>
{% endblock %}
