<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pinakes - {{.Title}}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="/assets/css/pinakes.css">

    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
  </head>
  <body>
    {{template "header.html"}}

    <div class="content">
      <div class="detail">
        <h1>{{.Title}} ({{.Year}})</h1>
        <p>Author(s):
          <ul>
            {{range .Authors}}
              <li>{{.}}</a></li>
            {{end}}
          </ul>
        </p>
        {{if .DOI}}
          <p>DOI: <a href="https://www.doi.org/{{.DOI}}">{{.DOI}}</a></p>
        {{end}}
      
        <div>
          <a href="/papers/form/{{.ID}}" class="button">Edit</a>
          
          <button hx-delete="/papers/{{.ID}}"> Delete </button>
        </div>
      </div>
    </div>

    {{template "footer.html"}}
  </body>
</html>