{% extends "base.html.twig" %}

{% block title %}
  Pinakes - Papers
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
      <input
        type="search"
        placeholder="Search..."
        name="search"
        hx-trigger="keyup changed delay:500ms, search"
        hx-get="/papers/search"
        hx-target="[hx-paper-list]">

      <a href="/papers/form" class="button">Add New</a>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author(s)</th>
        <th>Release Year</th>
        <th>DOI</th>
      </tr>
    </thead>
    <tbody hx-paper-list>
      {% include 'paper_list.html.twig' %}
    </tbody>
  </table>
</div>
{% endblock %}

