{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ entity }}
{% endblock %}

{% block content %}
<div class="show">
  <h1>{{ entity }}</h1>

  <div class="show-main">
    <table class="table">
      <tbody>
      {% for field in fields %}
        <tr>
          <td class="fit-content">{{ field.caption }}:</td>
          {{ render_value(entity, field) | raw }}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% endblock %}
