{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ name|capitalize }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
  <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      value="{{ query.search }}"
      hx-trigger="keyup[key=='Enter']"
      hx-get="{{ path(name ~ '_filter') }}"
      hx-target="[hx-table-content]">
  </div>
  <div hx-get="{{ path(name ~ '_filter', query) }}" hx-trigger="load">
    {# TODO Spinner animation #}
  </div>
</div>
{% endblock %}