{% extends "_base.html.twig" %}

{% block title %}
  Pinakes - {{ name|capitalize }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="table-control">
    <input
      class="search"
      type="search"
      placeholder="Search..."
      name="search"
      hx-trigger="keyup changed delay:500ms, search"
      hx-get="/{{ name }}/filter"
      hx-target="[hx-table-content]">
  </div>
  {% include '/tablecontent.html.twig' %}
</div>
{% endblock %}