{% set route = app.current_route %}
{% set params = app.current_route_parameters %}

<div hx-table-content class="table-container">

<div class="tiled">
  {% for entity in table.currentPage %}
    <div class="card">
      <div class="icon">{{ icon(entity.icon)}}</div>
      <div class="caption">{{ entity.caption }}</div>
    </div>
  {% else %}
    <p>Nothing found!</p>
  {% endfor %}
</div>

{% if table.allow_pagination %}
  {% include 'elements/pagination.html.twig' with {
    'table': table
  } only %}
{% endif %}

</div>
